<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!--DATA-->
    <preference for="Mulwi\Search\Api\Data\QueueInterface" type="Mulwi\Search\Model\Queue"/>

    <!--REPOSITORY-->
    <preference for="Mulwi\Search\Api\Repository\IndexRepositoryInterface" type="Mulwi\Search\Repository\IndexRepository"/>
    <preference for="Mulwi\Search\Api\Repository\QueueRepositoryInterface" type="Mulwi\Search\Repository\QueueRepository"/>

    <!--Entity Manager-->
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Mulwi\Search\Api\Data\QueueInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="const">Mulwi\Search\Api\Data\QueueInterface::TABLE_NAME</item>
                    <item name="identifierField" xsi:type="const">Mulwi\Search\Api\Data\QueueInterface::ID</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="Mulwi\Search\Api\Data\QueueInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>

    <type name="Mulwi\Search\Api\Repository\IndexRepositoryInterface">
        <arguments>
            <argument name="indexes" xsi:type="array">
                <item name="magento_order" xsi:type="object">Mulwi\Search\Index\Magento\OrderIndex</item>
                <item name="magento_invoice" xsi:type="object">Mulwi\Search\Index\Magento\InvoiceIndex</item>
                <item name="magento_credit_memo" xsi:type="object">Mulwi\Search\Index\Magento\CreditMemoIndex</item>
                <item name="magento_product" xsi:type="object">Mulwi\Search\Index\Magento\ProductIndex</item>
                <item name="magento_category" xsi:type="object">Mulwi\Search\Index\Magento\CategoryIndex</item>
                <item name="magento_customer" xsi:type="object">Mulwi\Search\Index\Magento\CustomerIndex</item>
                <item name="magento_shipment" xsi:type="object">Mulwi\Search\Index\Magento\ShipmentIndex</item>
                <item name="mirasvit_ticket" xsi:type="object">Mulwi\Search\Index\Mirasvit\TicketIndex</item>
            </argument>
        </arguments>
    </type>

    <!-- CLI Commands -->
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="SearchSyncCommand" xsi:type="object">Mulwi\Search\Console\Command\SyncCommand</item>
            </argument>
        </arguments>
    </type>
</config>