<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="model_save_before">
        <observer name="mulwi_model_save_after" instance="Mulwi\Search\Observer\ModelSaveObserver"/>
    </event>

    <event name="model_delete_before">
        <observer name="mulwi_model_delete_after" instance="Mulwi\Search\Observer\ModelDeleteObserver"/>
    </event>

    <event name="entity_manager_save_before">
        <observer name="mulwi_entity_save_after" instance="Mulwi\Search\Observer\EntitySaveObserver"/>
    </event>
</config>
